<script type="text/javascript">

var map;

function initialize() {
  var mapOptions = {
    center: { lat: -34.397, lng: 150.644},
    zoom: 8
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  geolocateMe();
}

function geolocateMe() {
  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {

      var pos = new google.maps.LatLng(position.coords.latitude,
                                       position.coords.longitude);

      var infowindow = new google.maps.InfoWindow({
        map: map,
        position: pos,
        content: 'Me'
      });

      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

function bindInfoWindow(marker, info) {
  google.maps.event.addListener(marker, 'click', function() {
    infoBulle.setContent(info);
    infoBulle.open(map, marker);
  });
}


var trafficLights = [ <%= @traffic_lights.map { |traffic_light|
  traffic_light.to_map_info
}.join(',').html_safe %> ];

var trafficLightMapIcon = {
  url: '/images/radar-feu.png',
  size: new google.maps.Size(10,25),
  anchor: new google.maps.Point(5,12)
};

var content, position, markerOptions, marker;

for (var i = 0; i < trafficLights.length; i++) {
  position = new google.maps.LatLng(trafficLights[i].latitude, trafficLights[i].longitude);
  
  markerOptions = {
    position: position,
    map: map,
    icon: trafficLightMapIcon,
    title: trafficLights[i].title
  }
  marker = new google.maps.Marker(markerOptions);

  content = trafficLights[i].content;

  bindInfoWindow(marker, content);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>

<a href="#" onClick="geolocateMe();">Geolocate me</a>

<div id="map-canvas"></div>
